/*========== General styling========== */

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
   font-family: sans-serif, 'Montserrat';
}

/*========== global styling ends here==========*/

/*========== Header Section Style Begins Here==========*/
/* #header {
} */
/*========== Header Section Style Ends Here==========*/

/*========== Nav Section Style Begins Here==========*/
.navbar {
   width: 100%;
   height: 86px;
   box-shadow: 2px 0px 10px 1px rgba(0, 0, 0, 0.2);
   z-index: 10000;
   transition: all 0.5s;
   background-color: #f5f5f5;
}
.navbar .navbar-nav .nav-link {
   color: #212121;
   padding: 10px 20px;
}
.navbar .navbar-nav .nav-link.active {
   color: #2196f3;
}
.navbar .navbar-nav .nav-link:hover {
   color: #1976d2;
   background-color: rgba(0, 0, 0, 0.015);
   border-bottom: 2.5px solid #ff4081;
   transform: scale(1.098);
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}
.navbar .navbar-toggler-icon .fa-bars {
   color: #2196f3;
   font-size: 30px;
}
.navbar .navbar-toggler {
   border: 1.5px solid rgba(33, 150, 243, 1);
}
.sticky {
   top: 0;
   width: 100%;
   height: 70px;
   transition: all 0.5s;
   padding: 0px 15px;
}
/*========== Nav Section Style Ends Here==========*/

/* ========== Intro Section Style Begins here========== */
.intro {
   padding-top: 150px;
   padding-bottom: 50px;
   background: url('../image/background-intro.jpg') center center no-repeat;
   background-size: cover;
}
.intro .container .intro-box h4,
.intro .container .intro-box h5 {
   background-color: rgba(248, 249, 250, 0.95);
   color: #212121;
   padding: 15px 15px;
   border-radius: 5px;
   letter-spacing: 2px;
   margin-bottom: 15px;
   font-weight: bolder;
}
.intro .container .intro-box .typed-cursor {
   color: #ff4081;
}

.intro .container .intro-box h5 .type {
   color: #ff4081;
}
.intro .container .intro-box button {
   padding: 10px 30px;
   border-radius: 50px;
   outline: none;
   border: 2px solid #ff4081;
   margin: 0px 15px 0 0;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.25);
   /* -2px -2px 5px -1px rgba(255, 255, 255, 0.5); */
   transition: all 0.5s;
}
.intro .container .intro-box button:hover {
   transform: scale(0.9);
   box-shadow: inset 4px 4px 8px -1px rgba(0, 0, 0, 0.25),
      inset -2px -2px 5px -1px rgba(255, 255, 255, 0.5);
}

.intro .container .intro-box .info {
   background: #ff4081;
   color: #f5f5f5;
}
.intro .container .intro-box .resume a {
   text-decoration: none;
   color: #212121;
}
/* ========== Intro Section Style Ends========== */

/* ========== Service Section Style Begins here========== */
#service {
   padding: 30px 0;
   background: #f8f9fa;
   color: #212121;
}
#service .container .service-header {
   text-align: center;
}
#service .container .service-header h3 {
   font-weight: 400;
   text-align: center;
   display: inline-block;
   padding: 10px 20px;
   border: 2.5px solid #ff4081;
   border-radius: 5px;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.25),
      -4px -4px 8px -1px rgba(255, 255, 255);
}

#service .container .service-header p {
   text-align: center;
   margin-top: 30px;
   font-size: 15px;
   padding-bottom: 60px;
}

#service .container .service-box {
   padding: 30px;
   position: relative;
   overflow: hidden;
   border-radius: 10px;
   margin: 0 10px 40px 10px;
   background: #fff;
   box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
   transition: all 0.3s ease-in-out;
}

#service .container .service-box:hover {
   -webkit-transform: translateY(-5px);
   transform: translateY(-5px);
   transition: 0.5s;
}

#service .container .row .icon {
   text-align: center;
   font-size: 45px;
   transition: 0.5s;
   color: #ff4081;
}

#service .container .row .title {
   text-align: center;
   font-weight: 600;
   margin: 15px 0px;
   font-size: 18px;
   border-bottom: 3px solid #2196f3;
   padding-bottom: 10px;
}

#service .container .row .description {
   font-size: 14px;
   margin-bottom: 15px;
   line-height: 2;
}
#service .container .row .service-box .service-btn {
   text-align: center;
}

#service .container .row .service-box .service-btn input[type='submit'] {
   background: #ff4081;
   border: none;
   outline: none;
   border-radius: 50px;
   padding: 6px 25px;
   color: #f5f5f5;
   transition: 0.5s;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.25),
      -4px -4px 8px -1px rgba(255, 255, 255);
}

#service .container .row .service-box .service-btn input[type='submit']:hover {
   transform: scale(0.9);
   cursor: pointer;
   box-shadow: inset 4px 4px 8px -1px rgba(0, 0, 0, 0.05),
      inset -4px -4px 8px -1px rgba(255, 255, 255, 0.5);
}
/* ========== Service Section Style Ends here========== */
/* ========== Patronise  Section Style Ends here========== */
#Expectation {
   padding: 30px 0;
   background: #2196f3;
   color: #f8f9fa;
   text-align: center;
}
#Expectation .container h3 {
   font-weight: 400;
   display: inline-block;
   padding: 10px 15px;
   border: 2.5px solid #ff4081;
   border-radius: 5px;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.25),
      -4px -4px 8px -1px rgba(255, 255, 255, 0.2);
}

#Expectation .container .card {
   margin-top: 10px;
   background: #1976d2;
   border-color: #1976d2;
   border-radius: 10px;
   padding: 5px 0;
   transition: 0.3s ease-in-out;
}

#Expectation .card:hover {
   background: #f8f9fa;
   border-color: #f8f9fa;
   color: #1976d2;
}

#Expectation .card h5 {
   font-size: 20px;
   font-weight: 600;
   border-bottom: 2.5px solid #ff4081;
   padding-bottom: 5px;
}

#Expectation .card p {
   font-size: 15px;
}

/* ========== Patronise Section Style Ends here========== */

/* ========== Contact Section Style Begins ========== */
#contact {
   background: url('../image/contact-background.jpg') center no-repeat;
   background-size: cover;
   /* background-attachment: fixed; */
   color: #212121;
   padding: 30px 0;
}

#contact .contact-header {
   text-align: center;
}
#contact .contact-header h3 {
   font-size: 30px;
   font-weight: 400;
   text-align: center;
   display: inline-block;
   padding: 10px 20px;
   border: 2.5px solid #ff4081;
   border-radius: 5px;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.25);
}

#contact .container-fluid .row .contact .contact-icons {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}
#contact .container-fluid .row .contact .contact-icons a {
   display: flex;
   height: 45px;
   width: 45px;
   margin: 0px 20px 0px 20px;
   border-radius: 5px;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.25),
      -4px -4px 8px -1px rgba(255, 255, 255);
   border: 1.5px solid #f5f5f5;

   transition: 0.5s;
   font-size: 20px;
   color: #2196f3;
   background-color: #ffffff;
}
#contact .container-fluid .row .contact .contact-icons a:hover {
   border: 1.5px solid #f5f5f5;
   box-shadow: inset 4px 4px 8px -1px rgba(0, 0, 0, 0.25),
      inset -4px -4px 8px -1px rgba(255, 255, 255);
   transform: scale(0.9);
}

#contact .container-fluid .row .contact .contact-icons a:hover .fa-whatsapp {
   color: #4fce5d;
}

#contact .container-fluid .row .contact .contact-icons a:hover .fa-phone {
   color: #212121;
}
#contact .container-fluid .row .contact .contact-icons a:hover .fa-envelope {
   color: #212121;
}
#contact
   .container-fluid
   .row
   .contact
   .contact-icons
   a:hover
   .fa-telegram-plane {
   color: #0088cc;
}

#contact .container-fluid .row .contact .form {
   margin-top: 30px;
}
#contact .container-fluid .row .contact .form input,
#contact .container-fluid .row .contact .form textarea {
   border-radius: 5px;
   font-size: 14px;
   border: none;
   outline: none;
   box-shadow: inset 4px 4px 8px -1px rgba(0, 0, 0, 0.25),
      inset -4px -4px 8px -1px rgba(255, 255, 255);

   border: 1px solid #f5f5f5;
   transition: 0.5s;
   color: #212121;
   background-color: #ffffff;
}

#contact .container-fluid .row .contact .form button[type='submit'] {
   background: #ff4081;
   border: none;
   outline: none;
   border-radius: 20px;
   padding: 8px 30px;
   color: #f5f5f5;
   transition: 0.5s;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.25),
      -2px -2px 3px -1px rgba(255, 255, 255, 0.5);
}

#contact .container-fluid .row .contact .form button[type='submit']:hover {
   transform: scale(0.9);
   cursor: pointer;
   box-shadow: inset 4px 4px 8px -1px rgba(0, 0, 0, 0.05),
      inset -4px -4px 8px -1px rgba(255, 255, 255, 0.5);
}

/* ========== contact form validation ========== */

#contact .form #sendmessage {
   color: #007bff;
   border: 1px solid #007bff;
   display: none;
   text-align: center;
   padding: 15px;
   font-weight: 600;
   margin-bottom: 15px;
}

#contact .form #errormessage {
   color: red;
   display: none;
   border: 1px solid red;
   text-align: center;
   padding: 15px;
   font-weight: 600;
   margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
   display: block;
}

#contact .form .validation {
   color: red;
   display: none;
   margin: 0 0 20px;
   font-weight: 400;
   font-size: 13px;
}
/* ========== contact form validation ========== */

/* ========== Contact Section Style Ends ========== */

/* ==========footer section style begins========== */
#footer {
   background: url('../image/footer-background.jpg') center center no-repeat;
   background-size: cover;
   color: #bdbdbd;
   font-size: 14px;
}
#footer .footer-main {
   padding: 60px 0 0px 0;
}
#footer .footer-main .footer-logo {
   width: 120px;
   height: 120px;
}
#footer .footer-main .figcaption {
   padding: 10px 0px;
   font-weight: bold;
   font-size: 18px;
   letter-spacing: 2;
}

#footer .footer-main .footer-content {
   margin-bottom: 15px;
   padding-top: 20px;

   box-shadow: 3px 3px 8px -1px rgba(0, 0, 0), -3px -3px 8px -1px rgba(0, 0, 0);
   border: 1px solid rgba(0, 0, 0, 0);
   border-radius: 5px;
}
#footer .footer-main .footer-content p {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 15px;
}

#footer .footer-social .container {
   display: flex;
   justify-content: center;
   padding: 10px 0px;
}
#footer .footer-social .container a {
   display: flex;
   height: 40px;
   width: 40px;
   margin: 15px;
   border-radius: 6px;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0), -4px -4px 8px -1px rgba(0, 0, 0);
   border: 1px solid rgba(0, 0, 0, 0);
   transition: 0.5s;
   font-size: 25px;
   color: #757575;
   background-color: rgba(0, 0, 0, 0.4);
}
#footer .footer-social .container a:hover {
   box-shadow: inset 4px 4px 8px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 8px -1px rgba(0, 0, 0, 0.7);
   /* -0.5px -0.5px 0px rgba(0, 0, 0, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05); */

   transform: translateY(2px);
   transform: scale(0.98);
}
#footer .footer-social .container a:hover .fa-facebook {
   color: #4267b2;
}
#footer .footer-social .container a:hover .fa-whatsapp {
   color: #4ac959;
}
#footer .footer-social .container a:hover .fa-twitter {
   color: #00acee;
}
#footer .footer-social .container a:hover .fa-instagram {
   color: #e1306c;
}
#footer .footer-social .container a:hover .fa-linkedin {
   color: #2867b2;
}
#footer .footer-social .container a:hover .fa-github {
   color: #333;
}

#footer .footer-main h4 {
   font-size: 17px;
   font-weight: bold;

   text-transform: uppercase;
   position: relative;
   padding-bottom: 10px;
}
#footer .footer-main .sub h4 {
   border-bottom: 5px solid #2196f3;
}
#footer .footer-main .quick-icons {
   color: #2196f3;
   margin-right: 10px;
}

#footer .footer-main .quick-links {
   margin-bottom: 30px;
}

#footer .footer-main .quick-links .quick-list {
   list-style: none;
   padding: 0;
   margin-top: 10px;
}

#footer .footer-main .quick-links .quick-list li {
   padding: 5px 0;
}

#footer .footer-main .quick-links .quick-list li:first-child {
   padding-top: 0;
}
#footer .footer-main .quick-links .quick-list a {
   color: #bdbdbd;
}

#footer .footer-main .quick-links .quick-list li:hover {
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   transform: translateY(-3.5px);
   transform: translateX(-3.5px);
   transition: 0.5s;
}
#footer .footer-main .quick-links .quick-list li a:hover {
   color: #2196f3;
   text-decoration: none;
}
#footer .footer-main .cont-icons {
   color: #2196f3;
   margin-right: 10px;
}

#footer .footer-main .contact {
   margin-bottom: 30px;
}

#footer .footer-main .contact .contact-list {
   list-style: none;
   padding: 0;
   margin-top: 10px;
}

#footer .footer-main .contact .contact-list li {
   padding: 5px 0;
}

#footer .footer-main .contact .contact-list li:first-child {
   padding-top: 0;
}

#footer .footer-main .footer-letter {
   margin-bottom: 30px;
}
#footer .footer-main .footer-letter p {
   margin-top: 10px;
}
#footer .footer-main .footer-letter .newsletter_form input {
   padding: 5px 10px;
   font-size: 14px;
   border: none;
   border-radius: 5px;
   margin-bottom: 10px;
   width: 75%;
}
#footer .footer-main .footer-letter .newsletter_form button {
   background: #ff4081;
   color: #f5f5f5;
   border: none;
   outline: none;
   font-size: 14px;
   padding: 5px 25px;
   border-radius: 20px;
   cursor: pointer;
   box-shadow: 4px 4px 8px -1px rgba(0, 0, 0), -4px -4px 8px -1px rgba(0, 0, 0);
   box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.4),
      -5px -5px 8px -1px rgba(0, 0, 0, 0.4);
}
#footer .footer-main .footer-letter .newsletter_form button:hover {
   box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.1),
      inset -4px -4px 6px -1px rgba(0, 0, 0, 0.1),
      -0.5px -0.5px 0px rgba(0, 0, 0, 0.1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.1),
      0px 12px 10px -10px rgba(0, 0, 0, 0.1);
   transform: scale(0.9);
   transition: all 0.5s;
}
#footer .footer-base {
   border-top: 3.5px solid #2196f3;
   color: #757575;
   text-align: center;
   padding: 15px;
   background-color: rgba(0, 0, 0, 0.7);
}
#footer .footer-base .container a {
   text-decoration: none;
   color: #bdbdbd;
}

/* ==========footer section style ends========== */

/* ==========back to the top button style begins ========== */
.back-top {
   display: none;
   position: fixed;
   color: #ff4081;
   font-size: 30px;
   right: 15px;
   bottom: 15px;
   z-index: 11000;
   transition: 0.5s;
   cursor: pointer;
}
.back-top:hover {
   transform: scale(1.3);
   color: #1976d2;
}

/* ==========back to the top button style ends========== */

/* ==========Media Queries ==========  */

/* ==========Media Queries for Nav==========  */

@media only screen and (max-width: 768px) {
   .navbar .navbar-brand .profile-logo {
      width: 45px;
      height: 45px;
   }
   .navbar {
      height: 71px;
      padding: 0px 15px;
   }

   .navbar .navbar-collapse {
      text-align: center;
      background-color: #f5f5f5;
      border: 2px solid #2196f3;
      border-radius: 5px;
   }

   .navbar .container .navbar-nav .nav-link {
      padding: 15px 20px;
   }
   .navbar .container .navbar-nav .nav-link:hover {
      color: #1976d2;
      border-bottom: 2px solid #ff4081;
      transform: translatey(-5px);
      transition: 0.5s;
   }
   .sticky {
      width: 100%;
      height: 61px;
      transition: all 0.5s;
      padding: 0px 15px;
   }

   /* ==========Media Queries for intro section==========  */

   /* ========== footer Section Media Query  ========== */

   #footer .footer-main .footer-content {
      max-width: 90%;
   }
   #footer .footer-social .container a {
      margin: 5px 20px;
      height: 30px;
      width: 30px;
      font-size: 17px;
   }
   #footer .footer-base {
      padding: 10px 5px;
      font-size: 10px;
   }
}
